<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <h1><img id="logo" src="/images/logotransscale.gif"></h1>
            <nav role="navigation">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/products/">Products</a></li>
                    <li><a href="/guide/">Guide</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/search/">Search</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
