@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
    </div>
</div>

