<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="562beae9-885c-4a37-925d-dbd156f575e5" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2020-05-11T22:11:06" updateDate="2020-05-11T22:11:06" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1047" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1048" nodeTypeAlias="home">
    <blog id="1052" key="5e287c36-3ade-464a-beaf-a5cc02bb4d54" parentID="1049" level="2" creatorID="1" sortOrder="0" createDate="2020-05-13T17:14:40" updateDate="2020-05-13T17:14:40" nodeName="Blog" urlName="blog" path="-1,1049,1052" isDoc="" nodeType="1051" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1050" nodeTypeAlias="blog" />
    <products id="1056" key="92c2041b-4667-4011-b5e4-ced4d099a5fb" parentID="1049" level="2" creatorID="1" sortOrder="1" createDate="2020-05-13T17:41:03" updateDate="2020-05-13T17:41:06" nodeName="Products" urlName="products" path="-1,1049,1056" isDoc="" nodeType="1054" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1053" nodeTypeAlias="products" />
  </home>
</root>